@charset "UTF-8";
* {
  box-sizing: content-box;
}

body {
  width: 100%;
  height: 100%;
  font: 12px Arial, Helvetica, sans-serif, 宋体;
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

#mycert {
  /*------------头部-----------*/
  /*------------location-----------*/
  /*------------shopcart-----------*/
}
#mycert .head .header {
  height: 54px;
  border-bottom: 1px solid #7a7f89;
  line-height: 40px;
  padding-top: 15px;
}
#mycert .head .header a {
  color: #333;
}
#mycert .head .header div {
  margin-right: 40px;
  color: #666;
}
#mycert .head .header div span {
  display: inline-block;
}
#mycert .head .header div span a {
  color: #a10000;
  padding: 0 5px;
}
#mycert .head .header .logo {
  width: 122px;
  height: 29px;
  margin-left: 95px;
  background: url("../img/mycart/vancl-logo.png") no-repeat -93px center;
}
#mycert .location .progress {
  width: 540px;
  height: 28px;
  margin-top: 10px;
  background: url("../img/mycart/newProm.gif") 0 0;
}
#mycert .location .progress em {
  display: inline-block;
  width: 170px;
  color: #fff;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
}
#mycert .location .progress span {
  color: #666;
  display: inline-block;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  width: 170px;
}
#mycert .shopcart {
  margin-top: 12px;
}
#mycert .shopcart .carttop {
  height: 30px;
  overflow: hidden;
  padding-left: 45px;
  background: url("../img/mycart/newpromotion.gif") no-repeat -460px 0;
}
#mycert .shopcart h2 {
  line-height: 38px;
  margin-right: 8px;
  font-size: 20px;
  font-weight: bold;
}
#mycert .shopcart p {
  margin-top: 6px;
  color: #656565;
  line-height: 20px;
}
#mycert .shopcart p span {
  color: #a10000;
}
#mycert .table {
  width: 100%;
  margin-top: 10px;
}
#mycert .table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
#mycert .table table thead tr .bdleft {
  border-left: 1px solid #DCDFE4;
}
#mycert .table table thead tr .titlewhite {
  border-top: 1px solid #DCDFE4;
  border-bottom: 1px solid #B7B7B7;
  text-align: center;
  vertical-align: middle;
  background: url(../img/mycart/carthd.png) repeat-x;
}
#mycert .table table thead tr .select {
  text-align: left;
}
#mycert .table table thead tr th {
  height: 35px;
  border-top: 1px solid #DCDFE4;
  border-bottom: 1px solid #B7B7B7;
  vertical-align: middle;
  text-align: center;
  background: url(../img/mycart/carthd.png) repeat-x;
}
#mycert .table table thead tr .bdright {
  border-right: 1px solid #DCDFE4;
}
#mycert .table table thead tr .titlewhite {
  width: 16px;
  height: 35px;
}
#mycert .table table tbody {
  border: 1px solid #dcdfe4;
}
#mycert .table table tbody tr {
  width: 950px;
  padding: 0 12px;
}
#mycert .table table tbody tr .imgbox {
  width: 50px;
  height: 35px;
}
#mycert .table table tbody tr .imgbox img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#mycert .table table tbody tr td {
  height: 70px;
  text-align: center;
}
#mycert .table table tbody tr td span {
  display: inline-block;
  border: 0 none;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 17px;
}
#mycert .table table tbody tr td .subtract {
  background: url(../img/mycart/cartsprite.png) no-repeat -51px 0;
  margin-left: 15px;
}
#mycert .table table tbody tr td .subtract:hover {
  background-position: -68px 0;
}
#mycert .table table tbody tr td .inputnum {
  margin: 0 5px;
  width: 30px;
  height: 18px;
  border: 1px solid #D8D8D8;
  text-align: center;
}
#mycert .table table tbody tr td .add {
  background: url(../img/mycart/cartsprite.png) no-repeat 0px 0;
}
#mycert .table table tbody tr td .add:hover {
  background-position: -17px 0;
}
#mycert .table table tbody tr .rowdelbox {
  position: relative;
  color: #999;
}
#mycert .table table tbody tr .rowdelbox .rowdel {
  color: #424242;
}
#mycert .table table tbody tr .rowdelbox .rowdel:hover {
  color: #A10000;
}
#mycert .table table tbody tr .rowdelbox .confirm {
  color: #333;
  position: absolute;
  width: 150px;
  height: 60px;
  border: 1px solid #A10000;
  text-align: center;
  top: -42px;
  background: #fff;
  right: 0px;
  display: none;
}
#mycert .table table tbody tr .rowdelbox .confirm p {
  padding: 10px 0;
  box-sizing: border-box;
}
#mycert .table table tbody tr .rowdelbox .confirm a {
  color: #333;
  margin-right: 10px;
}
#mycert .table table tbody tr .rowdelbox .confirm a:hover {
  color: #A10000;
}
#mycert .table table tbody tr .rowdelbox .confirm span {
  position: absolute;
  overflow: hidden;
  background-position: 0 0;
  height: 8px;
  width: 9px;
  left: 65%;
  bottom: -8px;
  background: url(../img/goods/icon-shopping.gif);
}
#mycert .table table tbody tr .selected {
  text-align: center;
}
#mycert .table table tbody tr .descript {
  text-align: left;
  width: 310px;
  padding-left: 10px;
}
#mycert .toatl {
  height: 124px;
}
#mycert .toatl .container {
  box-sizing: border-box;
  padding: 12px 10px 0px 0;
  margin-top: 10px;
  background: none repeat #FFFEF5;
  border: 1px solid #EBE5BB;
  line-height: 25px;
}
#mycert .toatl .container .summary {
  padding: 14px 42px 0 13px;
  height: 39px;
}
#mycert .toatl .container .summary .allselect {
  margin-right: 10px;
}
#mycert .toatl .container .summary .alldel {
  margin: 0 20px 0 10px;
  color: #424242;
}
#mycert .toatl .container .summary .alldel:hover {
  color: #A10000;
}
#mycert .toatl .container .summary span em {
  color: #a10000;
}
#mycert .toatl .container .summary .free {
  color: #a10000;
}
#mycert .toatl .container .sum {
  padding: 10px 10px 10px 13px;
}
#mycert .toatl .container .sum .amount {
  font-size: 24px;
  color: #a10000;
}
#mycert .toatl .container .btnpanel {
  box-sizing: content-box;
}
#mycert .toatl .container .btnpanel .gobuy {
  display: inline-block;
  color: #666;
  height: 37px;
  line-height: 37px;
  margin-left: 10px;
  font-size: 14px;
  text-align: center;
  width: 122px;
  background: url(../img/mycart/newpromotion.gif) no-repeat -160px 0;
}
#mycert .toatl .container .btnpanel .checkouttrack {
  display: inline-block;
  color: #fff;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
  padding-left: 50px;
  width: 110px;
  font-size: 20px;
  background: url(../img/mycart/newpromotion.gif) no-repeat 0px 0;
}
#mycert .cartempty {
  display: none;
}
#mycert .cartempty .container {
  color: Gray;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  margin-top: 50px;
  text-align: center;
}
#mycert .cartempty .container a {
  color: #a10000;
  text-decoration: underline;
}
#mycert .foot {
  color: #999;
  text-align: center;
}
#mycert .foot p {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px 0;
}
#mycert .foot .footbottom span {
  margin-right: 20px;
}
